h1 {
  color: green;
  font-family: OCR A Std, monospace;
  font-size: 400%;
  text-align: center;
}
a {
  color: green;
  text-decoration: none;
}
li {
  font-size: 200%;
  padding: 10px;
  text-align: center;
}

div {
  color: darkred;
}

body {
  color: blue;
}

body {
  padding: 0; margin: 0;
} 
canvas {
  vertical-align: top;
}
